@import url(//fonts.googleapis.com/css?family=Open+Sans);
@media screen and (max-width: 420px) {
  .main h1 {
    font-size: 1.5em; } }

.wrapper {
  max-width: 500px;
  margin: auto;
  padding: 20px; }

.main {
  color: #fff;
  background: #CA3034;
  box-sizing: border-box;
  font-size: 1em;
  padding: 20px;
  border-radius: 5px; }
  .main h1 {
    text-align: center; }
    .main h1 a {
      text-decoration: none;
      color: #fff;
      border: 4px solid #fff;
      padding: 6px; }
    .main h1 a:hover {
      padding-top: 10px;
      padding-bottom: 10px;
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }

.answers,
.thanks {
  position: absolute;
  top: 50%;
  margin-top: -45px;
  text-align: center;
  max-width: 500px;
  width: 90%; }

.answer_no,
.answer_yes {
  box-sizing: border-box;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-radius: 50%;
  border: 8px solid #fff;
  width: 100px;
  height: 100px;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.answer_no {
  float: left;
  background-image: url("../img/icon/delete-button.svg"); }

.answer_yes {
  float: right;
  background-image: url("../img/icon/checked-mark.svg"); }

.answer_no:hover,
.answer_yes:hover {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg); }

.thanks {
  margin-top: -20px;
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  box-sizing: border-box; }

.description {
  margin-top: 20px;
  border-radius: 5px; }

.selected_answer {
  color: #fff; }

.selected_answer_yes,
.selected_answer_no {
  overflow: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.bg_no {
  background: #CA3034; }

.bg_yes {
  background: #81CA30; }

.selected_answer__text {
  float: left; }

.selected_answer__undo {
  float: right; }
  .selected_answer__undo a {
    font-size: 0.95em;
    color: #fff;
    text-decoration: none;
    border-bottom: solid 1px #fff; }
  .selected_answer__undo a:hover {
    border-bottom: none; }

.field {
  height: 180px; }
  .field textarea {
    box-sizing: border-box;
    height: inherit;
    width: 100%;
    padding: 20px;
    border: 0px;
    resize: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.profile {
  margin-top: 20px; }

.card {
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.card_y {
  background: #d3e2c8; }

.card_n {
  background: #e2c8c8; }

.profile h2 {
  display: inline;
  background: #CA3034;
  color: #fff;
  font-family: 'Open Sans', sans-serif; }

.next button {
  display: block;
  margin-top: 20px;
  border-radius: 5px;
  border: 0px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: #fff;
  vertical-align: middle; }

.form-control {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 0px;
  border-radius: 5px;
  padding: 12px; }

.footer {
  text-align: center;
  color: #fff;
  position: absolute;
  width: 100%;
  display: block;
  bottom: 0;
  left: 0; }

.footer a {
  color: #1da1f2;
  text-decoration: none;
}

.footer a:hover {
  color: #56aee3;
}

html {
  background: url("../img/background.jpg") no-repeat 50% 10% fixed;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif; }
